body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #222;
    color: #eee;
    font-family: sans-serif;
}

canvas {
    border: 2px solid #eee;
    background-color: #000;
}
